<%- include('./partials/head.ejs')  %> 

    <%- include('./partials/navbar.ejs')  %> 
    <h1>Home Page <%= 'ok'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugit,
      cupiditate incidunt illum consectetur rerum eum a eius numquam dignissimos
      similique, autem sed nemo quaerat? Dicta id assumenda doloribus
      dignissimos?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eligendi
      dicta. Quae itaque vero voluptates quod minima voluptate animi? Sit ea
      enim aspernatur in? Minus consequuntur ad quod. Accusamus, vel!
    </p>

    <%- include('./partials/footer.ejs')  %> 